@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container{
  font-family: 'Roboto', sans-serif;
}
.site-name{
  text-align: center;
  letter-spacing: 0.25rem;
  color: maroon;
  font-family: 'Palette Mosaic', cursive;
}